<div>
  <p></p>
  <pre></pre>
</div>

<section class="profile-section">
  <div class="squares square1"></div>
  <div class="squares square2"></div>
  <div class="squares square3"></div>
  <div class="squares square4"></div>
  <div class="squares square5"></div>
  <div class="squares square6"></div>
  <div class="squares square-mobiik"></div>
  <div class="squares square-rocket"></div>
  <div class="squares square-blife"></div>
  <div class="squares square-midoconline"></div>
  <div class="squares square-skytex"></div>

  <div class="container" style="padding-top: 5rem">
    <h1>SFD Project Component</h1>
  </div>
  <div class="container">
    <strong>Welcome to the SFD Project documentation page. </strong>
    <!-- * Additional content can be added here  or be nexte exapmple:-->
    Here you can find all the information related to the SFD project. Agent{{
      "@"
    }}[example.com]
    <!-- * Additional content can be added here  or be nexte exapmple:-->
    {{ agentExampleText }}
    <pre class="card-text"><code>{{ agentExampleText }}</code></pre>
  </div>
</section>
