<app-header />
<div class="wrapper">
    <div class="container">
        <div class="row row-grid justify-content-between">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto" id="aboutme">
                <div class="card card-coin card-plain">
                    <div class="card-header">
                        <img class="img-center img-fluid rounded-circle" src="assets/img/iam.jpg" style="max-width: 6em; max-height: 100%" />
                        <h4 class="title">Acerca de:</h4>
                        Desde el 2021, comencé a trabajar en proyectos pequeños como desarrollador freelance, aprovechando los conocimientos adquiridos durante mis estudios universitarios. Con el tiempo, he ido explorando e investigando nuevas tecnologías, como Angular para
                        el desarrollo del lado del cliente y NestJS para el lado del servidor.
                        <br /> En la actualidad, me desempeño como Full Stack Developer, utilizando los stacks MEAN y LAMP, para el grupo textilero SKYTEX MÉXICO. Mi principal objetivo en este momento es especializarme aún más en el desarrollo frontend.
                        Sin embargo, tengo planes de especializarme en el desarrollo backend y en DevOps en el futuro. <br /> En mi tiempo libre, me gusta estar al tanto de las últimas tendencias y actualizar mis conocimientos en tecnología. Además, dedico
                        tiempo a mis pasatiempos, como jugar videojuegos o salir a pasear por plazas comunes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>