<div class="page-header header-filter" id="home">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="container">
        <div class="content-center brand">
            <h1 class="h1-seo font-weight-bold">Hola!</h1>
            <h4 class="font-weight-normal w-100 text-base md:text-2xl">
                Mi nombre es David Muñoz Cruz. Soy desarrollador web especialicado en el Front-End
            </h4>
        </div>
    </div>
</div>
<div class="main">
    <div class="section" id="aboutme">
        <div class="squares square5"></div>
        <div class="squares square7"></div>
        <div class="squares square8"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h1 class="profile-title text-left">About me</h1>
                    <p class="profile-description text-left text-white">
                        Desde el 2021, comencé a trabajar en proyectos pequeños como desarrollador freelance, aprovechando los conocimientos adquiridos durante mis estudios universitarios. Con el tiempo, he ido explorando e investigando nuevas tecnologías, como Angular para
                        el desarrollo del lado del cliente y NestJS para el lado del servidor.
                        <br /> En la actualidad, me desempeño como Full Stack Developer, utilizando los stacks MEAN y LAMP, para el grupo textilero SKYTEX MÉXICO. Mi principal objetivo en este momento es especializarme aún más en el desarrollo frontend.
                        Sin embargo, tengo planes de especializarme en el desarrollo backend y en DevOps en el futuro. <br /> En mi tiempo libre, me gusta estar al tanto de las últimas tendencias y actualizar mis conocimientos en tecnología. Además, dedico
                        tiempo a mis pasatiempos, como jugar videojuegos o salir a pasear por plazas comunes.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 ml-auto mr-auto" style="margin-top:2rem">
                    <div class="card card-coin">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle img-shadow-success" src="assets/img/iam2.jpg" style="width:6rem; max-height:80%;" />
                        </div>
                        <div class="card-body">
                            <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                                <tab heading="Habilidades">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table" style="width:100%; min-width:fit-content">
                                            <thead class="text-danger">
                                                <tr>
                                                    <th class="header">Tecnologia</th>
                                                    <th class="header">Tiempo</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-white">
                                                <tr>
                                                    <td>Angular</td>
                                                    <td>2 años</td>
                                                </tr>
                                                <tr>
                                                    <td>Laravel</td>
                                                    <td>3 años</td>
                                                </tr>
                                                <tr>
                                                    <td>DB SQL</td>
                                                    <td>3 años</td>
                                                </tr>
                                                <tr>
                                                    <td>NOSQL</td>
                                                    <td>2 años</td>
                                                </tr>
                                                <tr>
                                                    <td>NodeJs</td>
                                                    <td>2 años</td>
                                                </tr>
                                                <tr>
                                                    <td>Docker</td>
                                                    <td>2 años</td>
                                                </tr>
                                                <tr>
                                                    <td>Android - Java & Kotlin</td>
                                                    <td>2 años</td>
                                                </tr>
                                                <tr>
                                                    <td>NestJs</td>
                                                    <td>1 años</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                                <tab heading="Estudios">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table" style="width:100%; min-width:fit-content">
                                            <tbody class="text-white">
                                                <tr>
                                                    <td>Estudios Ingeniería en TI Universidad Politécnica de Tlaxcala</td>
                                                    <td>2018 - 2022</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-center">Idiomas</td>
                                                </tr>
                                                <tr>
                                                    <td>Español</td>
                                                    <td>Nativo</td>
                                                </tr>
                                                <tr>
                                                    <td>Ingles</td>
                                                    <td>Basico</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="experience">
        <div class="squares square3"></div>
        <div class="squares square6"></div>
        <div class="squares square9"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <h1 class="profile-title text-left">Experience</h1>
                    <app-timeline />
                </div>
            </div>
        </div>
    </div>
