<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="title">BLK•</h1>
        </div>
        <div class="col-md-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="actionPage('home')"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="onScroll.emit('aboutme')"> About me </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="onScroll.emit('experience')"> Experience </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile">
                <a class="btn btn-icon btn-neutral btn-round btn-simple m-2" href="https://linkedin.com/in/davidmct" target="_blank">
                    <i class="fab fa-linkedin"> </i>
                </a>
                <a class="btn btn-icon btn-neutral btn-round btn-simple m-2" href="https://github.com/Davidmctf" target="_blank">
                    <i class="fab fa-github"> </i>
                </a>
            </div>
        </div>
    </div>
</div>