<nav [ngClass]="navbarClasses" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" tooltip="Home">
                <span> DVZ• </span> Developer description
            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> DVZ• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" placement="bottom" tooltip="Home" [routerLink]="['/home']">
                        <i class="fa fa-home"> </i>
                        <p class="d-lg d-xl">Home</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" placement="bottom" tooltip="Profile" [routerLink]="['/profile']">
                        <i class="fa fa-user"> </i>
                        <p class="d-lg d-xl">Profile Page</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://twitter.com/CreativeTim" placement="bottom" target="_blank" tooltip="Follow us on Twitter">
                        <i class="fab fa-linkedin"> </i>
                        <p class="d-lg-none d-xl-none">Linkedin</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.facebook.com/CreativeTim" placement="bottom" target="_blank" tooltip="Like us on Facebook">
                        <i class="fab fa-github"> </i>
                        <p class="d-lg-none d-xl-none">Github</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.instagram.com/CreativeTimOfficial" placement="bottom" target="_blank" tooltip="Follow us on Instagram">
                        <i class="fab fa-instagram"> </i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="javascript:void(0)" (click)="onScroll.emit('aboutme')" placement="bottom" tooltip="About me">
                        <i class="fa fa-user"> </i>
                        <p class="d-lg d-xl">About me</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>