.shadow-cursor-container {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    /* Asegura que esté por encima de otros elementos */
}

.shadow-cursor {
    position: relative;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background: rgba(255, 255, 255, 0);
    /* Degradado lineal */
    -webkit-box-shadow: 0 0 10rem 10rem rgba(0, 242, 195, 0.1);
    box-shadow: 0 0 10rem 10rem rgba(0, 242, 195, 0.1);
}
