<app-navbar #navbarTopElement (onScroll)="onScrollById($event)" />
<div class="wrapper" style="max-width:100%">
    <router-outlet class="w-100" style="max-width:100%;">
    </router-outlet>
    <footer class="footer w-100">
        <app-footer (onScroll)=" onScrollById($event) " />
    </footer>
</div>
<div class="shadow-cursor-container" [style.left.px]="coordenadasCursor.x" [style.top.px]="coordenadasCursor.y">
    @if(mostrarSombraCursor){
    <!-- <div class="shadow-cursor" ></div> -->
    <div class="shadow-cursor"></div>
    }
</div>
