<section class="cd-timeline cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-point"></div>
        <div class="cd-timeline-content card">
            <div class="card-header">
                <div class="card-title">
                    <h2>Full Stack Developer - Skytex México</h2>
                </div>
            </div>
            <div class="card-body text-white">
                <p>
                    Actualmente estoy a cargo de la migración y actualización del sistema utilzado por Skytex a tecnologías de vanguardia, destacando Angular 17 y Docker, con el objetivo de mejorar la eficiencia y funcionalidad del producto. Tambien soy responsable de la
                    planificación, implementación y gestión de este proceso para garantizar una transición fluida y exitosa hacia las últimas tecnologías disponibles en el mercado.
                </p>
                <span class="cd-date">
          Enero 2022 - Actualidad
          <div class="card">
            <div class="row justify-content-between align-items-center">
              @defer {
              <carousel [showIndicators]="true">
                <slide>
                  <img
                    alt="Skynet Angular"
                    class="d-block"
                    src="assets/img/skynetapp.png"
                  />
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </slide>
                <slide>
                  <img
                    alt="SkynetInvoiceHub"
                    class="d-block"
                    src="assets/img/skyinvoice.png"
                  />

                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </slide>
                <slide>
                  <img
                    alt="Login"
                    class="d-block"
                    src="assets/img/skylogin.png"
                  />

                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </slide>
              </carousel>
              } @placeholder (minimum 500ms) { }
            </div>
          </div>
        </span>
            </div>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-point"></div>
        <div class="cd-timeline-content card">
            <div class="card-header">
                <div class="card-title">
                    <h2>Full Stack Developer - Veterinaria Contla</h2>
                </div>
            </div>
            <div class="card-body text-white">
                <p>
                    Experiencia como freelance en el desarrollo de un sistema integral de punto de venta e inventario, utilizando Laravel como framework principal y aprovechando servicios en la nube para garantizar la escalabilidad y disponibilidad del producto. Encargado
                    de diseñar, desarrollar y desplegar soluciones personalizadas, adaptadas a las necesidades específicas del cliente, demostrando habilidades de trabajo autónomo, gestión de proyectos y cumplimiento de objetivos.
                </p>
                <span class="cd-date">
          Enero 2021 - Enero 2022
          <div class="card">
            <div class="row justify-content-between align-items-center">
              @defer {
              <carousel [showIndicators]="true">
                <slide>
                  <img
                    alt="Veterinaria"
                    class="d-block"
                    src="assets/img/vet.png"
                  />
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </slide>
              </carousel>
              } @placeholder (minimum 500ms) { }
            </div>
          </div>
        </span>
            </div>
        </div>
    </div>
</section>
<!-- cd-timeline -->
