.cd-container {
    max-width: 100%;
    border-radius: 2px;
    align-items: center;
}

.cd-container::after {
    content: '';
    display: table;
    clear: both;
}

.cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background-image: linear-gradient(45deg, #00f2c3, #0098f0);
}

@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
        max-width: 100%;
    }
    .cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-point {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px linear-gradient(45deg, #00f2c3, #0098f0), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-point {
    background-image: linear-gradient(45deg, #00f2c3, #0098f0);
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-point {
        width: 30px;
        height: 30px;
        top: 0px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    max-width: 80%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 2px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px #00f2c3, -5px -5px 10px #0098f0;
    box-shadow: 5px 5px 10px #00f2c3, -5px -5px 10px #0098f0;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.cd-timeline-content p,
.cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 102%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #00f2c3;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        color: white;
        width: 40%;
    }
    .cd-timeline-content::before {
        top: 24px;
        right: auto;
        left: 105%;
        border-color: transparent;
        border-left-color: #00f2c3;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 130%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 105%;
        border-color: transparent;
        border-right-color: #00f2c3;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 130%;
        text-align: right;
    }
}
