$text-sizes: ( xs: .75rem, sm: .875rem, base: 1rem, lg: 1.125rem, xl: 1.25rem, '2xl': 1.5rem, '3xl': 1.75rem, '4xl': 2rem, '5xl': 2.5rem, '6xl': 3rem, '7xl': 4rem, '8xl': 6rem);
@each $size,
$value in $text-sizes {
    .text-#{$size} {
        font-size: $value;
    }
    .img-#{$size} {
        width: $value;
    }
}

@each $breakpoint,
$value in $grid-breakpoints {
    @media (min-width: $value) {
        @each $size, $font-size in $text-sizes {
            .#{$breakpoint}\:text-#{$size} {
                font-size: $font-size;
            }
            .#{$breakpoint}\:img-#{$size} {
                width: $font-size;
            }
        }
    }
}

.img-shadow-success {
    box-shadow: 0 0 0.25rem 0.25rem $success, 0 0 0.4rem 0.4rem $success-states;
}

.shadow-cursor-container {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.shadow-cursor {
    position: relative;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 10rem 10rem rgba($success, 0.08);
    box-shadow: 0 0 10rem 10rem rgba($success, 0.08);
}

.cd-container {
    max-width: 100%;
    border-radius: 2px;
    align-items: center;
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.cd-timeline {
    position: relative;
    padding: 2em 0;
    margin: 2em 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 25px;
        height: 100%;
        width: 4px;
        background-image: linear-gradient(45deg, $success, $success-states);
    }
    @media only screen and (min-width: 1170px) {
        margin: 3em 0;
        max-width: 100%;
        &::before {
            left: 50%;
            margin-left: -2px;
        }
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @media only screen and (min-width: 1170px) {
        margin: 4em 0;
        &:first-child,
        &:last-child {
            margin: 0;
        }
    }
}

.cd-timeline-point {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(45deg, $success, $success-states);
    box-shadow: 0 0 0 4px linear-gradient(45deg, $success, $success-states), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    @media only screen and (min-width: 1170px) {
        width: 30px;
        height: 30px;
        top: 0px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        transform: translateZ(0);
        backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    max-width: 80%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 5px 5px 10px $success, -5px -5px 10px $success-states;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    p,
    .cd-date {
        font-size: 13px;
        line-height: 1.6;
    }
    .cd-date {
        display: inline-block;
    }
    p {
        margin: 1em 0;
    }
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 102%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid $success;
    }
    @media only screen and (min-width: 768px) {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
        .cd-read-more,
        .cd-date {
            font-size: 14px;
        }
    }
    @media only screen and (min-width: 1170px) {
        color: white;
        width: 40%;
        &::before {
            top: 24px;
            right: auto;
            left: 105%;
            border-color: transparent;
            border-left-color: $success;
        }
        .cd-date {
            position: absolute;
            width: 100%;
            left: 130%;
            top: 6px;
            font-size: 16px;
        }
        .cd-timeline-block:nth-child(even) & {
            float: right;
            &::before {
                top: 24px;
                left: auto;
                right: 105%;
                border-color: transparent;
                border-right-color: $success;
            }
            .cd-date {
                left: auto;
                right: 130%;
                text-align: right;
            }
        }
    }
}
